* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

li {
  list-style: none;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
}

button:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

header,
footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links,
.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.container {
  max-width: 1100px;
}
/* .container-hero {
  height: 400px;
} */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
  /* height: 200px; */
}

.hero .hero-text {
  flex: 1;
}

.hero .hero-image-div {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

.hero-text p {
  margin-top: 1rem;
}

.header.logo {
  font-size: 24px;
}

.main h3,
main p {
  font-size: 36px;
  color: #1f2937;
}

.main h3 {
  margin: 2rem auto;
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* margin: 2rem auto;
  text-align: center; */
}

.images img {
  width: 200px;
  height: 200px;
  border: 0.3rem solid #3882f6;
}

.images p {
  text-align: center;
  width: 200px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 300;
}

.main {
  margin-bottom: 6rem;
}

.container-quote {
  background-color: #e5e7eb;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.thor {
  display: flex;
  align-self: flex-end;
}

.ad-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad {
  width: 900px;
  height: 150px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #3882f6;
}

.ad button {
  border-style: solid;
}

.ad h4 {
  font-size: 24px;
  color: #f9faf8;
}

.ad p {
  font-size: 18px;
  color: #e5e7eb;
}

footer {
  height: 80px;
}
